.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imagem-fundo-castelo.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -40px 40px #9ec3da;
}

.title-home{
    display: grid;
    color: var(--color-text);
    font-family: "Zuume", sans-serif;
    transform: translate(-336px, 30px);
}

.description__title-home{
    font-size: 8.5rem;
}

.description__subtitle-home{
    font-size: 5.75rem;
}

@media (max-width: 960px) {
    .home{
        width: 80%;
    }

  }
  
  @media (max-width: 640px) {
    .description__title-home {
        display: flex;
        flex-direction: column;
        font-size: 4.25rem;
        align-items: center;
      }
      .description__subtitle-home {
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        align-items: center;
      }
  }